*{
	margin: 0 auto;
	padding: 0;
}
body{
    text-align: center;
}
header, section, aside{
    display: block;
}
section{
	width: 85%;
	text-align: left;
	vertical-align: top;
}
section nav{
    text-align: center;
}
nav{
	color: #000;
}
nav li{
	display: inline-block;
    padding: 1em;
}
nav li button{
    align-items: center;
    padding: 4em;
}
