*{
	margin: 0 auto;
	padding: 0;
}
body{
    text-align: justify;
    width: 95%;
    font-family: monospace;
    background: #21252B;
    color: #C6C8CB;
}
header, section{
    display: block;
    padding: 0.5em;
}
header, section{
	vertical-align: top;
}
section nav{
    text-align: center;
}
nav li{
	display: inline-block;
    padding: 1em;
}
nav li button{
    align-items: center;
    padding: 2em;
}
h2{
	font-size: 1em;
}
.caja{
    background: #282C34;
    color: #C6C8CB;
    font-size:1.2em;
    padding: 0.4em;
}
