*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-boz-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: rgb(93, 164, 180);
    background-size: cover;
    color: #fff;
    font-size: 16px;
}

.wrap{
    width: 90%;
    max-width: 1000px;
}

.widget{
    width: 80%;
    margin: 2em;
}

.widget p {
    display: inline-block;
    line-height: 1em;
}
.fecha{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    background: rgba(103, 98, 79, 0.76);
    padding: 20px;
    width: 100%;
}

.reloj{
    width: 100%;
    rgba(193, 49, 157);
    font-family: fantasy;
    color: rgb(237, 170, 40);
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(36, 34, 74, 0.91);
}

.reloj .caja-segundos {
    display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
    font-size: 2rem;
    display:block;
}
